*{
  font-family: 'Poppins';
  color: #FFFFFF;
}
body{
 background-image:linear-gradient(136.16deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
}
.menutext
{
  display: flex;
  gap: 54px;
}
.burger
{
  display: none;
}
.firstcontainer
{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 30px;
}
.title2
{
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
}
.title3
{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
p
{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 445px;
  height: 87px;
}
.title
{
  width: 445px;
  height: 222px;
  font-style: normal;
  font-weight: 900;
  font-size: 68px;
  line-height: 109%;
}
.menu
{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto';
}
.menucontainer
{
  display: flex;
  align-items: center;
  gap: 54px;
}
header
{
  display: flex;
  justify-content: space-around;
}
.maincontainer
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -250px;
  gap: 70px;
  flex-wrap:wrap;
}
.buttoncontainer
{
 display: flex;
 justify-content: space-between
}
.arroecontainer
{
 display: flex;
 align-items: center;
 gap: 10px;
}
.firstcontainer
{
  margin-right: 45px;
}
.see
{
  display: grid;
  place-items: center;
}
@media screen and (max-width: 1320px) 
  {
    .title{
      height: 150px;
      width: 800px;
    }
    .p{
      width: 800px;
    }
  }
  @media screen and (max-width: 760px) 
{
.menutext
{
  display: none;
}  
.burger
{
  display: block;
}
.skull
{
  width: 390px;
  position: relative;
  left: -15px;
}
.logo
{
  height: 92.45px;
  width: 83.95px;
}
.support
{
  height: 39px;
  width: 82px;
}
.maincontainer
{
  margin-top: -180px;
  justify-content: unset;
}
.firstcontainer
{
  margin-top: -55px;
}
.title
{
  width: unset;
  height: unset;
}
.leftcontainer
{
  width: 377px;
  padding: 0 10px 0 10px;
}
p
{
  width: 350px;
  margin-bottom:30px;;
}
.rightcontainer
{
  width: unset;
}
.book
{
  width: 108.56px;
  height: 53.32px;
}
.buttoncontainer
{
  justify-content: space-evenly;
}
.seeall
{
  width: 108.56px;
  height: 53.32px;
  margin: 30px 0 30px 0;
}
.menucontainer
{
  gap: 30px;
  justify-content: flex-end;
}
}
