body{
 background-image:linear-gradient(136.16deg, rgba(91, 135, 75, 0.97) 12.91%, rgba(12, 55, 32, 0.87) 87.68%);
}
.firstcontainer
{
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
.title2
{
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Poppins';
  font-style: normal;

}

.title3
{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
